<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Person</title>
</head>
<body>
<h1>Add New Person</h1>
<form action="/person" method="POST">
    <label>Navn: <input type="text" name="navn"></label><br>
    <label>Parti: <input type="text" name="parti"></label><br>
    <label>Position: <input type="text" name="position"></label><br>
    <label>Startdato: <input type="number" name="startdato"></label><br>
    <button type="submit">Add Person</button>
</form>
<a href="/">Back to list</a>
</body>
</html>
